@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #153677 , #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight:7000;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.row:hover {
    border: 2px solid ;
    border-image: linear-gradient(45deg, #cb3af0, #3af0cb) 1;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(135deg , #cb3af0 , #380468);
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 40px;
}